{% extends 'base.html' %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome to Clipkart Your One-Stop Online Shopping Destination
Discover a world of convenience, variety, and affordability at Clipkart. We bring you an easy-to-use shopping experience where you can explore a wide range of products — from fashion, electronics, and home essentials to beauty, lifestyle, and more.
Our mission is simple: to provide quality products at the best prices, delivered right to your doorstep. With secure payment options, fast delivery, and 24/7 customer support, we make shopping safe, simple, and enjoyable.
At Clipkart, we believe shopping should be more than just a purchase — it should be an experience. Whether you are upgrading your wardrobe, finding the latest gadgets, or shopping for daily needs, we have got you covered.
Shop smart. Shop easy. Shop with Clipkart.</p>
{% endblock %}