<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    {% load static %}
    <script src="{% static 'image/script.js' %}"></script>
</head>
<body>
    <h1>Contact me</h1>
    <p>Welcome to my Image Gallery.</p>
    <p>Welcome to my image gallery, a space where every picture tells a story.
     From vibrant moments to artistic captures, this collection is designed to inspire, evoke emotions, and showcase creativity. 
     Take a look around and enjoy the journey through visuals</p>
     <button type="Submit" onclick="Thankpage()">Click me</button>
</body>
</html>